* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222222;
}

.page {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.4fr 1.4fr 0.2fr;
    grid-template-areas: "left right nav";
}

.left-content {
    background-color: #444444;
    grid-area: left;
}

.container-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 96%;
}

.container-profile-photo {
    width: 180px;
    height: 180px;
}

.container-profile-photo>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.texts-and-links-left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#name {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 700;
    color: #f5f5f5;
}

#title {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #BBBBBB;
}

.link-list {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.link-list>li {
    list-style: none;
    padding: 0.4rem;
}


.link-list>li>a>i {
    font-size: 1.5rem;
}

.fa-linkedin-in {
    color: #2272ce;
}

.fa-linkedin-in:hover {
    color: #ffffff;
}

.fa-github {
    color: #f5f5f5;
}

.fa-github:hover {
    color: #222222;
}

#text-left-content-bottom {
    color: #f5f5f5;
    text-align: center;
}

#btn-download-cv {
    margin-top: 8px;
    width: 160px;
    height: 48px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #f5f5f5;
    background-color: #222222;
    border-style: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 16px;
}

#btn-download-cv:hover {
    background-color: #f5f5f5;
    color: #222222;
    border: 1px solid #222222;
}

.right-content {
    grid-area: right;
    color: #f5f5f5;
}

.container-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-right-content>h1 {
    font-size: 2.8rem;
    color: #f5f5f5;
    text-align: center;
}

.container-right-content>p {
    font-size: 1.1rem;
    color: #9c9a9a;
    text-align: center;
}

.container-right-content .link-list {
    display: none;
}

/*CONTEÚDO SOBRE LADO DIREITO*/

.right-content-sobre {
    grid-area: right;
    color: #f5f5f5;
    display: none;
    overflow: auto;
}

.container-right-content-sobre {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
}

.container-right-content-sobre>h1 {
    padding-bottom: 25px;
    margin-top: 15px;
    font-size: 1.8rem;
}

/*CONTEÚDO PROJETOS LADO DIREITO*/

.right-content-projetos {
    grid-area: right;
    color: #f5f5f5;
    display: none;
    overflow: auto;
}

.container-right-content-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container-right-content-projetos>h1 {
    font-size: 2.8rem;
    color: #f5f5f5;
}

/*CONTEÚDO ACADEMICO LADO DIREITO*/

.right-content-academico {
    grid-area: right;
    color: #f5f5f5;
    display: none;
    overflow: auto;
}

.container-right-content-academico {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px;
}

.container-right-content-academico>h1 {
    margin-top: 15px;
}

.container-right-content-academico>p {
    margin-top: 25px;
}

.link-right-content-academico {
    width: max-content;
    text-decoration: none;
    color: #2b98c4;
}

/*CONTEÚDO CONTATO LADO DIREITO*/

.right-content-contato {
    grid-area: right;
    color: #f5f5f5;
    display: none;
    overflow: auto;
}

.container-right-content-contato {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 8px 0px 20px;
}

.container-right-content-contato>h1 {
    font-size: 1.9rem;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
    align-items: center;
}

.contacts-list>a {
    font-size: 1.3425rem;
    text-decoration: none;
    color: #2b98c4;
    margin-left: 8px;
}

.contacts-list>img {
    width: 30px;
    height: 30px;
}

.navigation-bar {
    grid-area: nav;
    background-color: #444444;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list>li {
    height: 84px;
    list-style: none;
    border-bottom: 1px solid #6ae7be;
}

.nav-list>li>button {
    width: 100%;
    height: 100%;
    padding-inline: 4px;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: #BBBBBB;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.nav-list>li>button:hover {
    background-color: #6ae7be;
    color: #fff;
}

.nav-list>li>button>img {
    width: 30px;
    height: 30px;
    margin-bottom: 4px;
}

.btn-menu-hamburguer {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.fa-bars {
    color: #F5F5F5;
    font-size: 1.4rem;
    background-color: #6AE7bE;
    padding: 10px;
    border-radius: 50%;
}

.menu-hamburguer {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.98;
}

.menu-hamburguer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-hamburguer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.menu-hamburguer__li {
    list-style: none;
    padding: 18px 15px 0px 15px;
    border-bottom: 1px solid #6ae7be;
}

.menu-hamburguer__li button {
    font-size: 1.5rem;
    color: #F5F5F5;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.btn-close-menu-hamburguer {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    margin-right: 20px;
    margin-top: 20px;
}

.fa-xmark {
    color: #F5F5F5;
    font-size: 2.5rem;
    padding: 14px;
    border-radius: 50%;
}

/*WEBKITS*/

::-webkit-scrollbar {
    background-color: transparent;
    width: 6px;
    padding: 8px;
}
  
::-webkit-scrollbar-thumb {
    background-color: rgb(57, 58, 56);
    border-radius: 8px;
}
  
/*
CSS MEDIA QUERIES
*/

@media (min-width: 768px) {
    .btn-menu-hamburguer {
        display: none;
    }
}

@media (max-width: 767px) {
    .page {
        grid-template-columns: 1fr;
        grid-template-areas: "right";
    }

    .container-right-content .link-list {
        display: flex;
    }

    .btn-menu-hamburguer {
        display: block;
    }

    .left-content, .navigation-bar {
        display: none;
    }
}